USE [Libarry]
GO
/****** Object:  Table [dbo].[Pegawai]    Script Date: 07/21/2015 01:06:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pegawai](
	[ID_Pegawai] [varchar](5) COLLATE Latin1_General_BIN NOT NULL,
	[Nama] [varchar](100) COLLATE Latin1_General_BIN NULL,
	[Alamat] [text] COLLATE Latin1_General_BIN NULL,
	[Telp] [varchar](13) COLLATE Latin1_General_BIN NULL,
	[Jk] [char](1) COLLATE Latin1_General_BIN NULL,
	[Username] [varchar](100) COLLATE Latin1_General_BIN NULL,
	[Password] [varchar](100) COLLATE Latin1_General_BIN NULL,
 CONSTRAINT [PK_tb_Pegawai] PRIMARY KEY CLUSTERED 
(
	[ID_Pegawai] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF